---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

// Filter portfolio entries with 'draft: false' & date before current date
const publishedPortfolioEntries = await getCollection(
  "portfolio",
  ({ data }) => {
    return !data.draft && data.publishDate < new Date();
  }
);

// Sort content entries by publication date
publishedPortfolioEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Portfolio">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Portfolio Projects</Fragment>
      <Fragment slot="desc">
        Here's a list of recent projects I have worked on
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid grid-cols-1 sm:grid-cols-2 gap-16 max-w-4xl mx-auto">
        {
          publishedPortfolioEntries.map((portfolioEntry, index) => (
            <li>
              <a href={`/portfolio/${portfolioEntry.slug}`}>
                <div class="flex flex-col gap-2">
                  <Image
                    src={portfolioEntry.data.image.src}
                    alt={portfolioEntry.data.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md border"
                    height={1920}
                    width={1080}
                    quality={40}
                  />

                  <div class="flex flex-col gap-6">
                    <div>
                      <span class="text-blue-400 uppercase tracking-wider text-xs font-medium">
                        {portfolioEntry.data.category}
                      </span>
                      <h2 class="text-3xl font-bold leading-snug tracking-tight mt-1 ">
                        {portfolioEntry.data.title}
                      </h2>
                    </div>
                  </div>
                </div>
              </a>
              <div class="mt-4 mb-6">
                <span class="text-gray-400">{portfolioEntry.data.snippet}</span>
              </div>
              <div class="flex gap-2 mt-3">
                <Link
                  target="_blank"
                  class="text-sm flex gap-2 items-center"
                  style="primary"
                  size="sm"
                  href={portfolioEntry.data.links.github}>
                  <Icon class="w-6 h-6" name="bx:bxl-github" />
                  repo
                </Link>
                <Link
                  target="_blank"
                  class="text-sm flex gap-2 items-center"
                  href={portfolioEntry.data.links.demo}
                  style="outline"
                  size="sm">
                  <Icon class="w-4 h-4" name="simple-icons:vercel" />
                  live demo
                </Link>
              </div>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
