---
import heroImage from '../assets/headshot-1.jpg'
import Link, { type LinkStyle } from '@components/ui/link.astro'
import { Icon } from 'astro-icon'
import config from '@utils/config'
import { Image } from 'astro:assets'

//export const prerender = true;
---

<main class="grid md:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 gap-8">
  <Image
    src={heroImage}
    alt="Audrey Downey - Designer full-stack developer"
    sizes="(max-width: 600px) 100vw, 300px"
    loading="eager"
    class="rounded-full max-w-[300px] md:max-w-full"
    width={600}
    height={600}
  />
  <div class="flex flex-col gap-4 items-center md:items-start text-center md:text-left">
    <h1 class="typo-title">
      {config.hero.headline}
    </h1>
    <p class="typo-p">
      {config.hero.subtitle}
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      {
        config.hero.ctas.map(cta => {
          return (
            <Link
              href={cta.href}
              target={cta.target}
              class={cta.class}
              rel={cta.rel || 'noopener'}
              style={cta.style as LinkStyle}
              size={cta.size}
              download={cta?.download && cta.download}>
              <Icon class={cta.icon && cta.icon.class} name={cta.icon && cta.icon.name} />

              {cta.label}
            </Link>
          )
        })
      }
    </div>
  </div>
</main>
