---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

const entries = Astro.props.entries;
---

{
  entries.length === 0 && (
    <p class="text-center ">No entries to show for this category...</p>
  )
}

<ul class="grid grid-cols-1 sm:grid-cols-2 gap-16 max-w-4xl mx-auto">
  {
    entries.map((portfolioEntry, index) => (
      <li>
        <a href={`/portfolio/${portfolioEntry.slug}`}>
          <div class="flex flex-col gap-2">
            <Image
              transition:name={`image-${portfolioEntry.data.title}`}
              src={portfolioEntry.data.image.src}
              alt={portfolioEntry.data.image.alt}
              sizes="(max-width: 800px) 100vw, 800px"
              loading={index <= 2 ? "eager" : "lazy"}
              decoding={index <= 2 ? "sync" : "async"}
              class="w-full rounded-md border hover:shadow-lg transition-all duration-500 hover:scale-[102%] hover:rotate-1"
              height={1920}
              width={1080}
              quality={40}
            />

            <div class="flex flex-col gap-6">
              <div>
                <span
                  transition:name={
                    portfolioEntry.data.title + portfolioEntry.data.category
                  }
                  class="text-blue-400 uppercase tracking-wider text-xs font-medium">
                  {portfolioEntry.data.category}
                </span>
                <h2
                  transition:name={portfolioEntry.data.title}
                  class="text-3xl font-bold leading-snug tracking-tight mt-1 ">
                  {portfolioEntry.data.title}
                </h2>
              </div>
            </div>
          </div>
        </a>
        <div class="mt-4 mb-6">
          <span
            transition:name={portfolioEntry.data.snippet}
            class="text-gray-400">
            {portfolioEntry.data.snippet}
          </span>
        </div>
        <div class="flex gap-2 mt-3">
          {portfolioEntry.data.links.github && (
            <Link
              transition:name={`github-${portfolioEntry.data.links.github}`}
              target="_blank"
              class="text-sm flex gap-2 items-center"
              style="primary"
              size="sm"
              href={portfolioEntry.data.links.github}>
              <Icon class="w-6 h-6" name="bx:bxl-github" />
              repo
            </Link>
          )}
          {portfolioEntry.data.links.demo && (
            <Link
              transition:name={`demo-${portfolioEntry.data.links.demo}`}
              target="_blank"
              class="text-sm flex gap-2 items-center"
              href={portfolioEntry.data.links.demo}
              style="outline"
              size="sm">
              <Icon class="w-4 h-4" name="simple-icons:vercel" />
              live demo
            </Link>
          )}
          {portfolioEntry.data.links.behance &&
            (!portfolioEntry.data.links.github ||
              !portfolioEntry.data.links.demo) && (
              <Link
                href={portfolioEntry.data.links.behance}
                transition:name={`behance-${portfolioEntry.data.links.behance}`}
                target="_blank"
                class="text-sm flex gap-2 items-center"
                style="outline"
                size="sm">
                <Icon class="w-4 h-4" name="ri:behance-fill" />
                Behance Project
              </Link>
            )}
        </div>
      </li>
    ))
  }
</ul>
