---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";

const entry = Astro.props.entry;
---

<li class="flex flex-col gap-2 px-6 py-4 border-l-[3px] border-slate-100">
  <a class="" href={`/projects/${entry.slug}`}>
    <h3
      class="font-medium text-xl text-gray-800 hover:text-gray-500 transition-all">
      {entry.data.title}
    </h3>
  </a>
  <div class="flex gap-3 items-middle">
    <div class="flex space-x-2 text-gray-500 text-sm align-middle italic">
      <Icon
        class="w-5 shrink-0 flex align-middle"
        name="fluent:person-20-filled"
      />
      <span class="m-1">{entry.data.role}</span>
    </div>
    <div class="flex space-x-2 text-gray-500 text-sm align-middle italic">
      <Icon class="w-5 shrink-0 flex align-middle" name="mdi:calendar" />
      <span class="m-1">{entry.data.timeline}</span>
    </div>
  </div>

  <p class="flex items-center space-x-2 text-slate-700">
    {entry.data.snippet}
  </p>
  <!-- <div class="flex gap-2 mt-3 print:hidden">
    <Link
      href={`/projects/${entry.slug}`}
      class="text-sm flex gap-2 items-center"
      style="primary"
      size="sm">
      <Icon class="w-4 h-4" name="mdi:eye" />
      View Project
    </Link>
  </div> -->
</li>
